@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap");

body {
  font-family: Roboto, Arial, sans-serif;
  padding: 1rem;
  background-image: url(../assets/LogoHijosDelViento.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 90%;
}

#logo {
  width: 50%;
  max-width: 100%;
  height: auto;
}

#animation-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 6s ease-in-out;
  opacity: 1;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) scale(1.88) rotate(0deg);
    opacity: 1;
  }
  30% {
    transform: translate(-50%, -50%) scale(1.95) rotate(0deg);
    opacity: 1;
    animation-timing-function: steps(1, end); /* Detiene la animación en 1.95 */
  }
  70% {
    transform: translate(-50%, -50%) scale(1.95) rotate(0deg);
    opacity: 1;
    animation-timing-function: ease-in; /* Transición rápida hasta desaparecer */
  }
  100% {
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
    opacity: 0;
  }
}

h1 {
  font-family: "Noto Serif Makasar", serif;
  font-size: 4.5rem;
  color: black; /* Color naranja intenso (evoca la comida) */
  text-align: center;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el texto */
}

h1::after {
  content: "";
  display: block;
  width: 10.25rem;
  height: 0.1875rem;
  background-color: black; /* Color naranja intenso para la línea */
  margin: 0.625rem auto;
  margin-top: 2rem;
  margin-bottom: -5rem;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 4rem;
  color: #8d8a8a;
  text-align: center;
}

.h2Inicio {
  text-align: center;
  font-weight: bold; /* Texto en negrita */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem; /* Espaciado interno alrededor del texto */
  letter-spacing: 3px; /* Espaciado entre letras */
  margin-bottom: -5rem;
}

.mi-clase-h2 {
  margin-top: 6rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -7rem;
}

.mi-clase-h3 {
  margin-top: 8rem;
  margin-bottom: -7rem;
  font-size: 5rem;
  text-align: center;
}

h3.todosOFiltra {
  font-family: "Helvetica", sans-serif;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.columna {
  text-align: center;
}

.input-wrapper {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 2rem;
}

.input-wrapper input {
  width: 23rem;
  padding: 0.625rem;
  border: 0.0625rem solid black;
  border-radius: 0.25rem;
  font-size: 3rem;
  margin-right: 0.625rem;
  text-align: center;
}

.input-wrapper input::placeholder {
  color: #999;
  font-style: italic;
}

/* Estilo para cada opción */
.opcion {
  width: 46%; /* Ancho del recuadro, 50% para dos por línea */
  display: inline-block; /* Mostrar los recuadros en línea */
  vertical-align: top; /* Alinear los recuadros en la parte superior */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  border: 0.125rem solid #ccc;
  padding: 1rem;
  border-radius: 0.3125rem;
  margin-top: 1rem;
  margin: 1rem;
}

/* Estilo para el contenedor de opciones */
.opciones-categoria {
  text-align: center; /* Alinea las opciones en el centro */
}

.imagen {
  margin: auto;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-top: 1.5rem;
  width: 90%;
}

.imagen img {
  width: 100%;
  transition: transform 0.3s ease;
}

.imagen:hover img {
  transform: scale(1.01);
}

.seleccion input[type="checkbox"] {
  display: none;
}

.seleccion label {
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  background-color: #2196f3;
  color: #fff;
  border-radius: 0.3125rem;
  margin-top: 0.5rem;
}

.eliminar-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3125rem;
  background-color: red;
  color: white;
  border: none;
  flex-wrap: wrap;
}

/* Estilo original del botón */
.label-boton {
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  background-color: #2196f3;
  color: #fff;
  border-radius: 1;
  cursor: pointer;
  justify-content: center;
  font-size: 2.5rem;
}

/* Estilo para el modo "Borrar Pedido" */
.label-boton.boton-borrar {
  background-color: red;
}

.desplegable select {
  width: 25rem;
  height: 3.5rem;
  font-size: 2.5rem;
  border-radius: 0.25rem;
  border: 0.06rem solid #ccc;
  padding: 0.3rem;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.entrada-info {
  justify-content: start;
}

.entrada-label {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Noto Serif Makasar", serif;
  margin-bottom: 1rem;
}

.colorSlogan {
  color: rgb(250, 171, 2);
  font-size: 2.8rem;
}

.formatoDescripcion {
  font-weight: lighter;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 2.2rem;
}

.precioBox {
  font-size: 2.5rem;
}

.cantidadInfo {
  font-size: 2.5rem;
}

.estiloCantidad {
  width: 3.5rem;
  font-size: 3.5rem;
  height: 4rem;
  text-align: center;
  border: solid 0.2rem black;
}

#tu_orden {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

#orden_lista {
  width: 87%; /* Ancho del recuadro, puedes ajustar este valor */
  display: flex; /* Mostrar los recuadros en línea */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias filas */
  justify-content: space-between; /* Distribuir los elementos de manera equitativa en la línea */
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.categoria-comun {
  text-align: left;
  width: calc(100% - 5rem); /* Ancho del elemento, incluyendo margen */
  margin-bottom: 1rem;
}

.categoria-comun::after {
  content: "";
  display: block;
  width: 50rem;
  height: 0.1875rem;
  background-color: #333;
  margin: 0.625rem auto;
  margin-top: 2rem;
}

.nombre {
  font-size: 3rem;
  font-weight: bolder;
}

.cantidadDescripcion,
.precioDescripcion,
.precioTotalDescripcion {
  font-size: 3rem;
  font-style: italic;
}

#precio_final {
  font-family: "Helvetica", sans-serif;
  font-size: 3rem;
}

#boton_pedido {
  display: none;
  margin: 2rem auto 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #337ab7;
  border: 2px solid #fff;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Helvetica", sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

#boton_mozo {
  display: none;
  margin: 2rem auto 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #337ab7;
  border: 2px solid #fff;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Helvetica", sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

#boton_cuenta {
  display: none;
  margin: 2rem auto 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #337ab7;
  border: 2px solid #fff;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-family: "Helvetica", sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.toastify {
  font-size: 2.2rem;
  text-align: justify;
}

.cartelConfirmaPedido .swal2-popup {
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  width: 50rem; /* Ancho del recuadro más grande */
}

#btnComentarios.mostrar {
  display: block; /* Mostrar el botón cuando se activa la clase "mostrar" */
}

#desplegable_comentarios {
  margin-top: 0.7rem;
}

#campo_comentarios {
  width: 95%;
  height: 100px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#btn_enviar,
#btn_cerrar {
  background-color: #f44336;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin: 0.2rem;
}

#btn_enviar {
  background-color: #337ab7;
}

select.opciones {
  font-family: "Arial", sans-serif;
  font-size: 3rem;
  color: #555;
  padding: 0.5rem;
  border: 0.0625rem solid black;
  border-radius: 0.25rem;
  width: 45rem;
  text-align: center;
  margin-top: 1rem;
}

.opciones option.disabled {
  color: #999;
}

.opciones option.subcategorias {
  padding-left: 10px;
  color: #888;
  font-style: italic;
  font-size: 3.5rem;
}

.opciones option {
  font-size: 2rem;
}

.recordaTexto {
  font-size: 1.75rem;
  text-align: center;
}

/* Estilo para el contenedor de los botones */
#seleccionador_tragos {
  display: flex;
  flex-direction: row; /* Muestra los botones uno debajo del otro */
  align-items: center; /* Centra los botones horizontalmente */
}

/* Estilo para los botones de selección */
#opcionesBotones button {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 2.6rem;
  color: #fff;
  background-color: #0067ff; /* Color principal de la fiesta */
  border: 4px solid #fff;
  border-radius: 4rem; /* Mayor valor para que parezcan globos */
  padding: 3rem; /* Mayor padding para más espacio */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  width: 35%; /* Ancho del botón */
  border-color: #fff;
  text-align: center;
  margin: 1rem;
}

#opcionesBotones button.haceTuOrdenBebida {
  background-color: #ff9800; /* Color de discoteca */
}

#opcionesBotones button.llamarAlMozo {
  background-color: #673ab7; /* Color de discoteca */
}

#opcionesBotones button.haceTuOrdenComidaDelivery {
  background-color: #00bcd4; /* Color de discoteca */
}

#opcionesBotones button.haceTuOrdenBebidaDelivery {
  background-color: #8bc34a; /* Color de discoteca */
}

#opcionesBotones button.pedirLaCuenta {
  background-color: #ff5722; /* Color de discoteca */
}

#btnComentarios,
#btnComentariosMozo {
  display: none; /* Ocultar el botón inicialmente */
  background-color: #ff9800; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 1rem 2rem; /* Ajustar el padding para reducir el tamaño */
  font-size: 2.2rem; /* Tamaño de fuente del botón */
  border: 2px solid #fff;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  width: fit-content; /* Hacer que el ancho se ajuste al contenido */
}

/* Estilo para el botón "Home" */
#homeButton {
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  font-size: 2rem;
  color: #fff;
  background-color: red; /* Color de discoteca */
  border: 2px solid #fff;
  border-radius: 0.7rem; /* Mayor valor para que parezcan globos */
  padding: 1rem 2rem; /* Ajustar el padding para reducir el tamaño */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  width: fit-content; /* Hacer que el ancho se ajuste al contenido */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 31%;
  text-align: center;
}

footer {
  background-color: #444444;
  color: #ffffff;
  padding: 0.6rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 93%;
  margin-top: 5rem;
}

footer p {
  margin: 0;
  font-size: 1.4rem;
}

/* Estilo de los botones de incremento y decremento */
.cantidad-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 3.4rem;
  width: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Estilo específico para el botón de decremento */
.cantidad-decrementar {
  border-radius: 50% 0 0 50%;
}

/* Estilo específico para el botón de incremento */
.cantidad-incrementar {
  border-radius: 0 50% 50% 0;
}

/* Estilos generales para el filtro selector */
#filtro-selector {
  display: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para el selector de categoría */
#category-select,
#category-select1 {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  height: 5rem;
  font-family: "Noto Serif Makasar", serif;
}

/* Estilos para las opciones en el selector */

.styled-select label {
  font-size: 3rem;
  color: #333;
  margin-bottom: 2rem;
  display: block;
  font-weight: bold;
  font-family: "Noto Serif Makasar", serif;
  margin-top: 2rem;
  border-radius: 0.7rem; /* Mayor valor para que parezcan globos */
  padding: 1rem 2rem; /* Ajustar el padding para reducir el tamaño */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para la clase "styled-select" */
.styled-select select {
  width: 37%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 3rem;
  text-align: center;
  border-radius: 0.7rem; /* Mayor valor para que parezcan globos */
  padding: 1rem 2rem; /* Ajustar el padding para reducir el tamaño */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Estilo para las opciones del select */
.styled-select select option {
  font-size: 16px;
}

#direccion {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.scroll-button {
  font-family: "Noto Serif Makasar", serif;
  position: fixed;
  right: 20px; /* Ajusta la distancia desde el borde derecho según tus preferencias */
  top: 40rem; /* Ajusta la distancia desde la parte superior según tus preferencias */
  z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
  background-color: #007bff; /* Cambia el color de fondo a tu preferencia */
  color: #fff; /* Cambia el color del texto a tu preferencia */
  border: none;
  border-radius: 50%;
  width: 6rem; /* Ajusta el ancho del botón según tus preferencias */
  height: 8rem; /* Ajusta la altura del botón según tus preferencias */
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente según tus preferencias */
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Agrega sombra si lo deseas */
}

.modoEntrega {
  line-height: 3rem;
}

.h2subtitulo {
  color: black;
  font-size: 4rem;
  font-family: "Noto Serif Makasar", serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-align: center;
}

.h2subtituloDelivery {
  color: black;
  font-size: 4rem;
  font-family: "Noto Serif Makasar", serif;
  margin-top: 5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 2rem;
}

.ventana-emergenteBebidas {
  position: fixed;
  top: 18%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 20px solid #000;
  padding: 20px;
  z-index: 999;
  display: block;
  scale: 55%;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}

.ventana-emergenteBebidas img {
  width: auto;
  height: auto;
}

.ventana-emergenteBebidas button {
  display: block;
  margin: 10px auto;
  height: 7rem;
  width: 15rem;
  font-size: 4rem;
  margin-top: 1.5rem;
  font-family: "Noto Serif Makasar", serif;
  font-weight: bold;
  color: rgb(223, 34, 34);
}

.ventana-emergenteComida {
  position: fixed;
  top: 18%;
  left: 21%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 10px solid #000;
  padding: 20px;
  z-index: 999;
  display: block;
  scale: 55%;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}

.ventana-emergenteComida img {
  width: auto;
  height: auto;
}

.ventana-emergenteComida button {
  display: block;
  margin: 10px auto;
  height: 7rem;
  width: 15rem;
  font-size: 4rem;
  margin-top: 1.5rem;
  font-family: "Noto Serif Makasar", serif;
  font-weight: bold;
  color: rgb(223, 34, 34);
}

.ventana-emergenteInicio {
  position: fixed;
  top: 25%;
  left: 21%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 10px solid #000;
  padding: 20px;
  z-index: 999;
  display: block;
  scale: 55%;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}

.ventana-emergenteInicio img {
  width: auto;
  height: auto;
}

.ventana-emergenteInicio button {
  display: block;
  margin: 10px auto;
  height: 7rem;
  width: 15rem;
  font-size: 4rem;
  margin-top: 1.5rem;
  font-family: "Noto Serif Makasar", serif;
  font-weight: bold;
  color: rgb(223, 34, 34);
}

.admin-button {
  background-color: #444444; /* Color de fondo de la barra de navegación */
  display: flex;
  justify-content: flex-end; /* Coloca el botón "Admin" en la esquina superior derecha */
  width: 100%;
}

/* Estilos para el botón "Admin" */
.admin-button a {
  color: #fff; /* Color del texto */
  text-decoration: none; /* Quita la subrayado de enlace */
  font-weight: bold; /* Texto en negrita */
  padding: 5px 10px; /* Espaciado interno del botón */
  border: 2px solid #fff; /* Borde del botón */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  width: 15%;
  text-align: center;
  margin-right: 3rem;
  font-size: 1.8rem;
}

/* Estilos para el botón "Admin" al pasar el mouse */
.admin-button a:hover {
  background-color: #fff; /* Cambia el color de fondo al pasar el mouse */
  color: #333; /* Cambia el color del texto al pasar el mouse */
}

.swal-custom  {
  font-size: 1.6rem; /* Aumenta el tamaño de fuente en un 10% */
}
